<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  
</head>
<body>

  <header>
    Admin Dashboard
  </header>

  <div class="tabs">
    <button class="tab-link" >Patients</button>
    <button class="tab-link" >Doctors</button>
    <button class="tab-link" >Visits</button>
    <button class="tab-link">Fee Schedule</button>
  </div>
<app-visit-dashboard></app-visit-dashboard>
</body>
</html>
